- content_for :title, 'Home'
%landing
  %logo Open Civic Platform
  .options
    = link_to 'sign in', sign_in_path, class: 'landing-links'
    = link_to 'sign up', sign_up_path, class: 'landing-links'
