- content_for :title, 'Home'
%landing
  %logo Open Civic Platform
.container
  %h2 Issues Being Discussed
  - if @issues.present?
    .tile-container
      - @issues.each do |issue|
        = link_to issue_path(issue), class: 'tile' do
          %p= issue.name
  - else
    %p There are no issues currently being discussed
