#logo {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 10vw;
  margin-top: 27vh;
}

#message {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 3vw;
}

body {
  background-color: #50fcaf;
}
