!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      body {
        background-color: #50fcaf;
      }
  %body
    = image_tag('https://open-civic.s3-ap-southeast-2.amazonaws.com/bannerlogo.png', alt: 'Open Civic Platform')
    = yield
